img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery,
.photo-card {
  margin: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  margin-bottom: 25px;
}

.photo-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.photo-link {
  text-decoration: none;
  color: rgb(7, 58, 153);
}

.info {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(62, 93, 180, 0.863);
}

.search-form input {
  border-radius: 5px 0px 0px 5px;
  height: 35px;
  width: 25vw;
  border: none;
  padding-left: 10px;
}

.search-form button {
  width: 5%;
  height: 35px;
  border: none;

  padding: 0;
}

.load-more {
  display: block;
  min-width: 100px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  border: 3px solid rgba(62, 93, 180, 0.863);
  border-radius: 5px;

  color: rgb(62, 93, 180);
}

.load-more:hover {
  color: #fff;
  background-color: rgba(62, 93, 180, 0.863);
}
